* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI" sans-serif;
}

body {
    background: linear-gradient(135deg, #4e73df, #1cc881);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
}

.container {
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    padding: 30px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    
   
}

input {
    flex: 1;
    padding: 8px;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #4e73df;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
}

li {
    justify-content: space-between;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
    
}

li span {
    flex: 1;
}

li button {
    
    background: #fffdd0;
    padding: 4px 8px;
    font-size: 20px;
}

li button:hover{
    background: darkred;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

#taskList {
    background: #fffdd0;
    margin-left: 50px;
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    height: 500px;
}